{% extends 'base.html' %}


{% block title %}
  <title>Index</title>
{% endblock title %}


{% block content %}
  <div class="container mt-5">

    <h1 class="fw-bold">Index</h1>

    <h4 class="text-secondary">
      <span>Hello, </span>
      <span class="fw-bold">{{ user }}</span>
    </h4>

    <div class="my-5 d-flex">
      <div class="me-3">
        <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary">Login</a>
      </div>
      <form action="{% url 'accounts:logout' %}" method="POST" class="">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-outline-danger">
      </form>
    </div>

    <div class="my-5">
      <a href="{% url 'accounts:index' %}" class="btn btn-outline-success">Home</a>
    </div>

  </div>
{% endblock content %}