{% extends 'base.html' %}


{% block title %}
  <title>index</title>
{% endblock title %}


{% block content %}
  <div class="container mt-5">
    {% comment %} title {% endcomment %}
    <h1 class="fw-bold mb-2">Index</h1>

    <div class="mb-3">
      <a href="{% url 'todos:new' %}" class="fs-3 fw-bold text-info">New</a>
    </div>

    <div>
      <ul>
        {% for todo in todos %}
        <li class="fs-6">
          <div class="d-flex align-items-center">
            <span class="me-1">{{ todo.pk }}. </span>
            <a href="{% url 'todos:detail' todo.pk %}" class="fw-bold me-2">{{ todo.title }}</a>
            <span class="me-1 fw-bold"> - </span>
            {% if todo.completed %}
              <form action="{% url 'todos:check_completed' todo.pk 0 %}" method="POST" class="d-inline-block">
                {% csrf_token %}
                <input type="submit" class="btn text-success" value="완료" name="completed">
              </form>
            {% else %}
              <form action="{% url 'todos:check_completed' todo.pk 1 %}" method="POST" class="d-inline-block">
                {% csrf_token %}
                <input type="submit" class="btn text-danger" value="미완료" name="completed">
              </form>
             {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% comment %} Home {% endcomment %}
    <div class="mt-5">
      <a href="{% url 'todos:index' %}" class="text-decoration-none">[Home]</a>
    </div>

  </div>
{% endblock content %}