{% extends 'base.html' %}

{% block content %}
<h1 class="mb-3">Change Password</h1>
<form action="{% url 'accounts:change_password' %}" method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="mb-3">
      {% if field.errors and not is_get %}
        {{ field.errors }}
      {% endif %}
      <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
      {{ field }}
      {% if field.help_text %}
      {{ field.help_text }}
      {% endif %}
    </div>
  {% endfor %}
  <input type="submit" value="Change" class="btn btn-primary">
</form>
{% endblock content %}