<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
  <p>작성자: {{ article.user }}</p>
  <p>글 번호: {{ article.pk }}</p>
  <p>제목: {{ article.title }}</p>
  <p>내용: {{ article.content }}</p>
  <p>작성일: {{ article.created_at }}</p>
  <p>수정일: {{ article.updated_at }}</p>

  {% if request.user == article.user %}
  <form action="{% url 'articles:delete' article.pk  %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>

  <hr>
  <h5>댓글목록 ... {{ comments|length }}</h5>
  <ul>
    {% for comment in comments %}
    <li>
      {{ comment.user }} - {{ comment.content }}
      {% if request.user == comment.user %}
      <form action="{% url 'articles:comments_delete' comment.pk comment.pk %}" method="post" class="d-inline-block">
        {% csrf_token %}
        <button type="submit">삭제</button>
      </form>
      {% endif %}
    </li>
    {% empty %}
      <p>댓글이 없습니다..</p>
    {% endfor %}
  </ul>
  <hr>
  <form action="{% url 'articles:comments_create' article.pk %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">댓글 작성</button>
  </form>
</body>
</html>
